/* CSS général , all devices */

:root {
  /*Colors primary*/
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /*Colors neutral*/
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

main {
  width: 1440px;
  height: 100vh;
  background-color: var(--Very-light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--Grayish-Blue);
  font-size: 16px;
  font-weight: 400;
}

h2 {
  color: var(--Dark-blue);
  font-size: 16px;
  font-weight: 500;
}

.card {
  border-radius: 10px !important;
  border: none !important;
  flex-direction: row !important;
  padding: 30px;
  margin-top: 30px;
}
