/* CSS général , all devices */

:root {
  /*Colors primary*/
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /*Colors neutral*/
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

main {
  width: 1440px;
  background-color: var(--Very-light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--Grayish-Blue);
  font-size: 16px;
  font-weight: 400;
}

h2 {
  color: var(--Dark-blue);
  font-size: 16px;
  font-weight: 500;
}

.card {
  border-radius: 10px !important;
  border: none !important;
  flex-direction: row !important;
  padding: 30px;
  margin-top: 20px;
}

.score {
  width: 40px;
  height: 97px;
  border: none;
  border-radius: 15px;
  background-color: var(--Very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--Moderate-blue);
  padding: 15px;
  font-weight: 500;
}

.score img {
  color: var(--Light-grayish-blue);
}

.card-content {
  margin-left: 20px;
}

.heading-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.avatar-profile {
  width: 30px;
  height: auto;
}

.left h2 {
  margin: 0 10px;
}

.left p {
  margin-bottom: 0;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reply-btn {
  color: var(--Moderate-blue);
  font-weight: 500;
  cursor: pointer;
}

.right img {
  margin: 5px 8px;
}

.edit-btn {
  color: var(--Moderate-blue);
  font-weight: 500;
  cursor: pointer;
}

.delete-btn {
  color: var(--Soft-Red);
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
}

.card-text {
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    margin: 10px auto;
  }

  .card {
    width: 100%;
  }
}
