.reply {
  max-width: 645px !important;
}

.strong {
  color: var(--Moderate-blue);
  font-weight: 500;
}

.you {
  background-color: var(--Moderate-blue);
  color: var(--White);
  padding: 2px 8px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 375px) {
  .reply {
    max-width: 324px !important;
  }

  .reply .right {
    position: absolute;
    left: 159px;
  }

  .reply .reply-btn {
    position: absolute;
    left: 242px;
  }
}
