.avatar img {
  width: 40px;
  height: auto;
}

.comment-form {
  display: flex;
  flex-direction: row;
}

.comment-form textarea {
  width: 504px;
  min-height: 96px;
  resize: none;
  margin: 0 10px;
  background-color: var(--Very-light-gray);
  cursor: pointer;
}

.comment-form button {
  width: 104px;
  height: 48px;
  border-radius: 10px !important;
  background-color: var(--Moderate-blue) !important;
  color: var(--White);
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 375px) {
  .comment-form {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: auto !important;
  }

  .avatar img:nth-child(1) {
    width: 30px;
    height: auto;
    order: 2;
    margin-top: 20px;
  }

  .avatar:nth-child(1) {
    order: 2;
  }

  form:nth-child(2) {
    order: 1;
  }

  button:nth-child(3) {
    order: 3;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .comment-form textarea {
    max-width: 307px;
    margin: 0;
  }

  .form-group {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
