.reply-form {
  display: flex;
  flex-direction: row;
  max-width: 645px;
}

.reply-form textarea {
  width: 416px;
  min-height: 96px;
  resize: none;
  background-color: var(--Very-light-gray);
  cursor: pointer;
}

#response {
  margin-left: 0px;
}

@media (max-width: 375px) {
  .reply-form {
    max-width: 324px !important;
    align-items: center;
    justify-content: space-between;
    height: auto !important;
  }

  .reply-form textarea {
    max-width: 285px;
    margin: 0;
  }
}
