.comment {
  width: 730px;
}

.replies-section {
  max-width: 730px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: solid 2px hsl(211, 10%, 45%, 0.1);
  padding-left: 40px;
  margin-left: 40px;
}

@media (max-width: 375px) {
  .replies-section {
    max-width: 340px;
    padding-left: 13px;
    margin-left: 0px;
  }
}
