.comment {
  width: 730px;
}

.replies-section {
  max-width: 730px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .replies-section {
    max-width: 340px;
  }
}
